/*This is where the index page and navbar stylings are with media queries:*/
body{
	margin: 0px;
}

#background{
	background-image: url("images/winterback.jpg");
	background-size: cover; 
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.wrapper1{
	margin: 0 auto;
	width: 100%;
}

.wrapper2, .wrapper3{
	/*border: solid 5px red;*/
	margin: 0 auto;
	width: 800px;
}

.wrapper2{
	margin-top: 6%;
	padding: 1%;
}

#homenav{
	padding-left: 10%;
	font-family: lucida grande, sans-serif;
	font-size: x-large;
	text-align: center;
	z-index: 1000;
}

#aboutnav{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	height: 62px;
	background-image: url("images/navbar-winterback.jpg");
	background-size: cover;
	background-position: center;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li{
	display: inline;
}

a{
	color: white;
}

a:link{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

.maintext{
	position: fixed;
}

h1{
	margin-top: -40px;
	margin-bottom: 0px;
	padding-left: 30px;
	font-size: 80px;
	color: white;
	font-family: 'Kaushan Script', cursive;
}

h3{
	margin: 0px 0px 20px 100px;
	font-family: lucida grande, sans-serif;
	color: white;
}

#ride{
    margin-left: 86%;
    margin-top: 34%;
    position: fixed;
}

@media (max-width: 425px){
	#background{
		background-size: contain;
		background-repeat: no-repeat;
	}

	.wrapper1{
		margin: 0 auto;
		width: 100%;
	}

	#homenav{
		padding-left: 10%;
		font-size: small;
		text-align: center;
		z-index: 1000;
	}

	h1{
		margin-top: 0%;
	    margin-bottom: 0px;
	    padding-left: 5%;
	    font-size: 150%;
	    color: white;
	    font-family: 'Kaushan Script', cursive;
	}

	h3{
		font-size: x-small;
		margin-left: 5%;
	    width: 200%;
	    color: white;
	}

	img#ride{
		height: 7%;
		margin-left: 40%;
	    margin-top: 58%;
	    position: fixed;
	}
}

/*This is where the about page is styled*/
.nycda{
	margin: 0 auto;
}

p, h2{
	font-family: lucida grande, sans-serif;
}

h2{
	margin: 0 auto;
	width: 798px;
	padding-top: 2%;
	float: left;
	font-size: xx-large;
}

#bground{
	background-color: #F08080;
}

.blacken{
	float: right;
	margin-right: 35%;
	margin-top: 0%;
}

.homeicon{
	margin-top: 0%;
	float: left;
}

#sidebar, #sideout{
	text-align: center;
	background-color: #6666ff;
	font-family: lucida grande, sans-serif;
	color: white;
	float: left;
	margin-top: -2%;
	height: 648px;
    width: 50px;
    overflow: auto;
	position: fixed;
}

#sideout{
	display: none;
	width: 130px;
	margin-left: 50px;
}

#sideoutlist{
	margin-top: 20%;
}

.gif{
	margin: 0 auto;
	margin-top: 3%;
	padding-top: 3%;
	float: right;
}

span:link{
	text-decoration: none;
}

span:hover{
	text-decoration: underline;
}

#sec0{
	text-align: center;
}

.para2{
	margin: 0 auto;
	float: left;
	margin-top: 3%;
	width: 360px;
	font-size: large;
}

#sec1, #sec2, #sec3, #sec4, #sec5{
	margin: 0 auto;
	margin-top: 8%;
	float: left;
	height: 400px;
	width: 800px; 
}

#sec3{
	height: 500px;
}

.homer, .media, .ship{
	margin: 0 auto;
	float: left;
}

.sec1p1{
	margin: 0 auto;
	float: right;
	width: 260px;
	margin-top: 5%;
	margin-right: 1%;
	font-size: large;
}

.sec1p2, .sec2p2, .sec3p2, .sec3p2, .sec4p2, .sec5p2{
	margin: 0 auto;
	float: left;
	margin-top: 5%;
    margin-left: 20%;
	font-size: large;
}

.2do{
	margin: 0 auto;
	margin-right: 64%;
	float: left;
}

.sec2p1{
	margin: 0 auto;
	float: right;
	width: 260px;
    margin-top: 8%;
    margin-right: 26%;
	font-size: large;
}

.sec2p2{
	margin-top: 3%;
	margin-left: 14%;
}

.sec3p1{
	margin: 0 auto;
	float: right;
	width: 260px;
	margin-right: 18%;
    margin-top: 10%;
	font-size: large;
}

.sec3p2,{
	margin-left: 4%;
}

.sec4p1{
	margin: 0 auto;
	float: right;
	width: 380px;
    margin-top: 4%;
	font-size: large;
}

.sec4p2, .sec5p2{
	margin-left: 2%;
}

.sec5p1{
	margin: 0 auto;
	float: right;
	width: 380px;
    margin-top: 4%;
	font-size: large;
}

/*This is where the contact page is styled*/

#background1{
	background-image: url("images/John@Hunter2.JPG");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: inherit;
}

.para4{
	font-size: x-large;
	color: black;
}

.blacken1{
	color: black;
	font-size: large;
	font-weight: bolder;
	font-family: lucida grande, sans-serif;
	background-color: #F08080;
	border-radius: 60%;
	padding: 1%;
	float: left;
	margin-top: .5%;
	margin-left: 1%;
}

iframe{
	padding-top: 8%;
	margin-right: 26%;
}

#footer{
	margin: 0 auto;
	width: 52%;
	text-align: center;
	clear: both;
}

