#background{
	background-image: url("images/winterback.jpg");
	background-size: cover; 
}

.wrapper1, .wrapper2, .wrapper3, .wrapper{
	margin: 0 auto;
	/*border: solid 5px red;*/
	width: 800px;
}

nav{
	text-align: center;
	word-spacing: 100px;
	font-size: 30px;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li{
	display: inline;
}

.blacken{
	color: blue;
}

a{
	color: white;
}

a:link{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

h1{
	margin-top: -25px;
	margin-bottom: 0px;
	padding-left: 30px;
	font-size: 80px;
	font-family: cursive;
}

h3{
	margin: 0px 0px 20px 25px;
	color: white;
}
/*This is where the about page is styled*/
.aboutp1{
	float: left;
	margin-left: 10px; 
}

.gif{
	float: right;
	margin-right: 18px;
}

span:link{
	text-decoration: none;
}

span:hover{
	text-decoration: underline;
}

.aboutp2{
	float: left;
	margin-left: 10px;
	margin-right: 18px;
}

.para1{
	font-size: large;
	padding-right: 40px;
	width: 350px;
	float: right;
}

.para2{
	font-size: large;
	width: 350px;
	float: left;
	padding-left: 20px;
	padding-top: 35px;
}

.para3{
	font-size: large;
	width: 350px;
	float: right;
	padding-top: 50px;
    padding-right: 15px;
}

/*This is where the contact page is styled*/

.contactp1{
	padding-left: 21px;
}

.para5, .para4{
	font-size: x-large;
	text-align: center;
}

iframe{
	padding-left: 120px;
}

#footer{
	clear: both;
}

