body{
	margin: 0px;
}

#background{
	background-image: url("images/winterback.jpg");
	background-size: cover; 
}

.wrapper1, .wrapper2, .wrapper3, .wrapper4{
	margin: 0 auto;
	/*border: solid 5px red;*/
	width: 800px;
}

#homenav{
	padding-left: 10%;
	font-size: x-large;
}

nav{
/*	border: solid red 5px;
	height: 62px;
	background-image: url("images/navbar-winterback.jpg");
	background-size: cover;*/
	text-align: center;
	font-size: 30px;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li{
	display: inline;
}

a{
	color: white;
}

a:link{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

h1{
	margin-top: -40px;
	margin-bottom: 0px;
	padding-left: 30px;
	font-size: 80px;
	font-family: cursive;
}

h3{
	margin: 0px 0px 20px 25px;
	color: white;
}

#ride{
    margin-left: 86%;
    margin-top: 280px;
    position: fixed;
}

/*This is where the about/family page is styled*/
#bground{
	background-color: skyblue;
}

.blacken{
	color: white;
	background-color: blue;
	font-size: large;
	font-weight: bolder;
	border-radius: 54%;
	padding: 1%;
	float: right;
	margin-right: 5%;
}

.homeicon{
	margin-top: -1%;
	float: left;
}

#sidebar, #sideout{
	/*border: solid 2px red;*/
	text-align: center;
	background-color: blue;
	color: white;
	float: left;
	margin-top: 6%;
	height: 620px;
    width: 50px;
    overflow: auto;
	position: fixed;
}

#sideout{
	display: none;
	width: 130px;
	margin-left: 50px;
}

#sideoutlist{
	margin-top: 16%;
}

h2{
	font-size: xx-large;
}

.aboutp1{
	float: left;
	margin-left: 10px; 
}

.gif{
	float: right;
	margin-right: 18px;
}

span:link{
	text-decoration: none;
}

span:hover{
	text-decoration: underline;
}

.aboutp2{
	float: left;
	margin-left: 10px;
	margin-right: 18px;
}

.para1{
	font-size: large;
	padding-right: 40px;
	width: 350px;
	float: right;
}

.para2{
	font-size: large;
	width: 350px;
	float: left;
	padding-left: 20px;
	padding-top: 35px;
}

.para3{
	font-size: large;
	width: 350px;
	float: right;
	padding-top: 50px;
    padding-right: 15px;
}

/*This is where family is styled and added to the about page*/

#bground2{
	background-color: skyblue;
}

#wrapper4{
	margin: 0 auto;
	width: 800px;
	padding: 10px;
	/*border: solid 5px red;*/
}

.familyp2, .familyp1{
	margin-top: 5%;
} 

.familyp1{
	float: left;
	margin-left: 2%;
}

.p1{
	margin: 0 auto;
	margin-top: 5%;
	width: 250px;
	float: right;
	font-size: large;
	padding-right: 10px;
}

#mad{
	margin-top: 8px;
	margin-right: 50px;
	background-color: black;
	color: white;
	padding: 4%;
	font-size: 20px;
	border-radius: 45%;
}

.familyp2{
	display: none;
	float: center;
}


/*This is where the contact page is styled*/

#background1{
	background-image: url("images/John@Hunter2.JPG");
}

.para4, .para5{
	font-size: x-large;
	color: black;
}

.blacken1{
	color: black;
	font-size: large;
	font-weight: bolder;
	background-color: white;
	border-radius: 60%;
	padding: 1%;
	float: left;
	margin-left: 1%;
}

iframe{
	padding-left: 0px;
	padding-top: 60px;
}

#footer{
	margin: 0 auto;
	width: 50%;
	text-align: center;
	clear: both;
}

